---
title: About Auction Rooms
description: Iconic Melbourne Cafe
layout: layouts/base.njk
heroBlock: true
heroImage:
tradeHours: true
imagerow1:
imagerow2: true
imagerow3:
instaPics: true
textOne: true
textTwo:
textThree:
cusReviews: true
pressReviews:
faqs:
textOneTitle: About Us
textOneSubtitle: Modern History.
textOneTextbold: Auction Rooms is an 1864 heritage-building café in North Melbourne serving 5-star coffee, breakfast, and lunch everyday (until 4pm).
textOneText: With grand historic vibes, seating in and outside, world-class beans and coffee plus a stunning seasonal menu, Auction Rooms is an absolute must-visit Melbourne venue. Bring your friends, family, and your pets too — we look forward to seeing you.
textTwoTitle: FOOD, COFFEE, FUNCTIONS
textTwoSubtitle: And More
textTwoTextbold: Five-star food and coffee is just the start of Auction Rooms' offerings. But did you know the start for Auction Rooms. is the perfect venue for your next party, funtion, or private event.
textTwoText: With grand historic vibes, seating in and outside, a stellar seasonal menu, and premium Melbourne-roasted coffee, Auction Rooms is a must-visit venue. Table bookings are optional, the current menu is viewable, functions and gift cards are available, and pets are always welcome. We can't wait to see you...
textThreeTitle: FOOD, COFFEE, FUNCTIONS
textThreeSubtitle: And More
textThreeTextbold: Five-star food and coffee is just the start of Auction Rooms' offerings. But did you know the start for Auction Rooms. is the perfect venue for your next party, funtion, or private event.
textThreeText: With grand historic vibes, seating in and outside, a stellar seasonal menu, and premium Melbourne-roasted coffee, Auction Rooms is a must-visit venue. Table bookings are optional, the current menu is viewable, functions and gift cards are available, and pets are always welcome. We can't wait to see you...
---
