---
title: Table Bookings @Auction Rooms
description: Iconic Melbourne Cafe
layout: layouts/base.njk
heroBlock: true
heroBlockImg: courtyard-2.jpg
heroImage:
tradeHours: true
imagerow1:
imagerow2:
imagerow3:
instaPics: true
textOne: true
textTwo:
textThree:
cusReviews:
pressReviews:
faqs:
bookButton: true
cta: true
textOneTitle: Table Bookings
textOneSubtitle: (For 4 or More)
textOneTextbold: You can book a table at Auction Rooms for 4-10 people during the week (Mon-Fri) or for 6-10 people on the weekends (Saturday & Sunday).
textOneText: Simply click the button below to book your table or contact us for bigger bookings (more than 10 people).
textTwoTitle:
textTwoSubtitle:
textTwoTextbold:
textTwoText:
textThreeTitle:
textThreeSubtitle:
textThreeTextbold:
textThreeText:
---
