---
title: Table Bookings @Auction Rooms
description: Iconic Melbourne Cafe
layout: layouts/base.njk
heroBlock: true
heroBlockImg: courtyard-1.jpg
heroImage:
tradeHours: true
imagerow1:
imagerow2:
imagerow3:
instaPics: true
textOne: true
textTwo:
textThree:
cusReviews:
pressReviews:
faqs:
textOneTitle: Table Bookings
textOneSubtitle: (For 4 or More)
textOneTextbold:
textOneText:
textTwoTitle:
textTwoSubtitle:
textTwoTextbold:
textTwoText:
textThreeTitle:
textThreeSubtitle:
textThreeTextbold:
textThreeText:
---
