---
title: Auction Rooms Gift Card
description: Iconic Melbourne Cafe
layout: layouts/base.njk
heroBlock: true
heroBlockImg: courtyard-2.jpg
heroImage:
tradeHours: true
imagerow1:
imagerow2:
imagerow3:
instaPics: true
textOne: true
textTwo:
textThree:
cusReviews:
pressReviews:
faqs:
bookButton:
giftCard: true
cta: true
textOneTitle: Gift Cards
textOneSubtitle: The Perfect Gift
textOneTextbold: Our gift card is redeemable for meals, drinks and any items sold at Auction Rooms Cafe.
textOneText: The Gift Card can only be redeemed at Auction Rooms Cafe, 103 Errol St North Melbourne, Victoria, Australia. Card is to be treated like cash. No refunds or replacement for lost or stolen cards. Not redeemable for cash or payments of credit. Gift cards cannot be used to purchase gift cards. Expires 2 years from the date of issue.
textTwoTitle: Key Conditions of Use
textTwoSubtitle: sub
textTwoTextbold: Card is to be treated like cash.
textTwoText: No refunds or replacement for lost or stolen cards. Not redeemable for cash or payments of credit. Gift cards cannot be used to purchase gift cards. Expires 2 years from the date of issue.
textThreeTitle:
textThreeSubtitle:
textThreeTextbold:
textThreeText:
---
