---
title: Auction Rooms
description: Iconic Melbourne Cafe
layout: layouts/base.njk
heroBlock: true
heroImage: true
tradeHours: true
imagerow1: true
imagerow2: true
imagerow3: true
textOne: true
textTwo: true
textThree: true
cusReviews: true
pressReviews:
faqs:
textOneTitle: Welcome to Auction Rooms
textOneSubtitle: Since 1864.
textOneTextbold: Auction Rooms is an 1864 heritage-building café in North Melbourne serving 5-star coffee, breakfast, and lunch everyday (until 4pm).
textOneText: With grand historic vibes, seating in and outside, world-class beans and coffee plus a stunning seasonal menu, Auction Rooms is an absolute must-visit Melbourne venue. Bring your friends, family, and your pets too — we look forward to seeing you.
textTwoTitle: FOOD, COFFEE, FUNCTIONS
textTwoSubtitle: And More.
textTwoTextbold: Five-star food and coffee is just the start of Auction Rooms' offerings. But did you know the start for Auction Rooms. is the perfect venue for your next party, funtion, or private event.
textTwoText: With grand historic vibes, seating in and outside, a stellar seasonal menu, and premium Melbourne-roasted coffee, Auction Rooms is a must-visit venue. Table bookings are optional, the current menu is viewable, functions and gift cards are available, and pets are always welcome. We can't wait to see you...
textThreeTitle: Open every Day
textThreeSubtitle: Until 4pm.
textThreeTextbold: Five-star food and coffee is just the start of Auction Rooms' offerings. But did you know the start for Auction Rooms. is the perfect venue for your next party, funtion, or private event.
textThreeText: With grand historic vibes, seating in and outside, a stellar seasonal menu, and premium Melbourne-roasted coffee, Auction Rooms is a must-visit venue. Table bookings are optional, the current menu is viewable, functions and gift cards are available, and pets are always welcome. We can't wait to see you...
---

{% set py = "py-48" %}
{% set imagerowpadding = "" %}



<!-- Gallery -->
{# <div id="gallery" class="container mx-auto px-4 py-12">
  <h2 class="text-6xl font-bold mb-8 text-center py-4 px-6 bg-cover bg-center rounded-lg underline underline-offset-8 decoration-amber-300 decoration-4">
    Gallery
  </h2>
  <div class="grid grid-cols-4 gap-3">
    <div class="col-span-2 row-span-2">
      <img src="/img/ar-venue-out-1.jpg" alt="Auction Rooms Exterior" class="w-full h-full object-cover rounded-lg">
    </div>
    <div>
      <img src="/img/food-baked-egg.jpg" alt="Baked Egg Dish" class="w-full h-48 object-cover rounded-lg">
    </div>
    <div>
      <img src="/img/food-granola.jpg" alt="Granola Dish" class="w-full h-48 object-cover rounded-lg">
    </div>
    <div>
      <img src="/img/arc-inside-wide.jpg" alt="Auction Rooms Interior" class="w-full h-48 object-cover rounded-lg">
    </div>
    <div>
      <img src="/img/food-scrambled-eggs.jpg" alt="Scrambled Eggs Dish" class="w-full h-48 object-cover rounded-lg">
    </div>
    <div>
      <img src="/img/food-multi-meals.jpg" alt="Various Meals" class="w-full h-48 object-cover rounded-lg">
    </div>
    <div class="row-span-2">
      <img src="/img/arc-inside.jpg" alt="Auction Rooms Interior 2" class="w-full h-full object-cover rounded-lg">
    </div>
    <div>
      <img src="/img/arc-courtyard.jpg" alt="Auction Rooms Courtyard" class="w-full h-48 object-cover rounded-lg">
    </div>
    <div>
      <img src="/img/ar-logo-little.jpg" alt="Auction Rooms Logo" class="w-full h-48 object-cover rounded-lg">
    </div>
    <div>
      <img src="/img/ac-sign.jpg" alt="Auction Rooms Sign" class="w-full h-48 object-cover rounded-lg">
    </div>
  </div>
</div> #}
