---
title: Auction Rooms Press Reviews
description: Iconic Melbourne Cafe
layout: layouts/base.njk
heroBlock: true
heroBlockImg: food-soup-v1.png
heroImage:
tradeHours: true
imagerow1:
imagerow2:
imagerow3:
instaPics: true
textOne:
textTwo:
textThree:
cusReviews:
pressReviews: true
faqs:
cta: true
textOneTitle: Press Reviews
textOneSubtitle: In The News.
textOneTextbold: Auction Rooms is an 1864 heritage-building café in North Melbourne serving 5-star coffee, breakfast, and lunch everyday (until 4pm).
textOneText: With grand historic vibes, seating in and outside, world-class beans and coffee plus a stunning seasonal menu, Auction Rooms is an absolute must-visit Melbourne venue. Bring your friends, family, and your pets too — we look forward to seeing you.
textTwoTitle:
textTwoSubtitle:
textTwoTextbold:
textTwoText:
textThreeTitle:
textThreeSubtitle:
textThreeTextbold:
textThreeText:
---
