---
title: Private Meetings
description: Iconic Melbourne Cafe
layout: layouts/base.njk
heroBlock: true
heroBlockImg: inside-1v1.jpg
heroImage:
tradeHours: true
imagerow1:
imagerow2:
imagerow3:
instaPics: true
textOne: true
textTwo:
textThree:
cusReviews:
pressReviews:
faqs:
textOneTitle: Private Meetings
textOneSubtitle: "@ Auction Rooms"
textOneTextbold: Auction rooms is a decade old institution that is housed inside the old W.B. Ellis Auction House in North Melbourne.
textOneText: The façade is an innocuous, weather beaten blue and inside the concrete floors, distressed brick and open steel beams combine for an industrial chic look. It is a space that emanates character and soul both by day and by night.
textOneMoreText: During the day, Auction Rooms is filled with light as its immense window panes soak up the sun & by the night it fills with a warm amber glow as the piped chandeliers exude a subdued light throughout the space. At auction rooms we believe in quality, detail, great food & good vibes. Combine that with our incredible venue, we are well on the way to hosting the most memorable of events for you and your guests.
textTwoTitle:
textTwoSubtitle:
textTwoTextbold: Five-star food and coffee is just the start of Auction Rooms' offerings. But did you know the start for Auction Rooms. is the perfect venue for your next party, funtion, or private event.
textTwoText: With grand historic vibes, seating in and outside, a stellar seasonal menu, and premium Melbourne-roasted coffee, Auction Rooms is a must-visit venue. Table bookings are optional, the current menu is viewable, functions and gift cards are available, and pets are always welcome. We can't wait to see you...
textThreeTitle: FOOD, COFFEE, FUNCTIONS
textThreeSubtitle: And More
textThreeTextbold: Five-star food and coffee is just the start of Auction Rooms' offerings. But did you know the start for Auction Rooms. is the perfect venue for your next party, funtion, or private event.
textThreeText: "With grand historic vibes, seating in and outside, a stellar seasonal menu, and premium Melbourne-roasted coffee, Auction Rooms is a must-visit venue. Table bookings are optional, the current menu is viewable, functions and gift cards are available, and pets are always welcome. We can't wait to see you."
---
