---
title: Private Dining @ Auction Rooms
description: Iconic Melbourne Cafe
layout: layouts/base.njk
heroBlock: true
heroBlockImg: inside-1v1.jpg
heroImage:
tradeHours: true
imagerow1:
imagerow2:
imagerow3:
instaPics: true
textOne: true
textTwo:
textThree:
cusReviews:
pressReviews:
faqs:
textOneTitle: Private Dining
textOneSubtitle: "@ Auction Rooms"
textOneTextbold: Want to celebrate in style or meet and eat in private? Auctions Rooms offers private space in our famous light-filled Courtyard for private dining, private meetings, plus celebrations and smaller events.
textOneText:
textOneMoreText: (More copy coming here. More copy coming here. More copy coming here. More copy coming here. More copy coming here. More copy coming here. More copy coming here. More copy coming here. More copy coming here. )
textTwoTitle:
textTwoSubtitle:
textTwoTextbold:
textTwoText:
textThreeTitle:
textThreeSubtitle:
textThreeTextbold:
textThreeText:
---
