---
title: Auction Rooms Shop
description: Iconic Melbourne Cafe
layout: layouts/base.njk
heroBlock: true
heroBlockImg: outside-3.jpg
heroImage:
tradeHours: true
imagerow1:
imagerow2:
imagerow3:
instaPics: true
textOne: true
textTwo:
textThree:
cusReviews:
pressReviews:
faqs:
textOneTitle: Online Shop
textOneSubtitle: Coming Soon.
textOneTextbold: Our brand new online shop is coming soon. Sign-up to our newsletter and be in the draw to win a a free meal at Auction Rooms every month, and we'll let you know when it opens.
textOneText:
textTwoTitle:
textTwoSubtitle:
textTwoTextbold:
textTwoText:
textThreeTitle:
textThreeSubtitle:
textThreeTextbold:
textThreeText:
---
