<div
	name="quote"
	class="relative px-6 pt-16 pb-12 bg-gray-50 rounded-lg shadow-md group hover:shadow-lg"> <!-- Added 'group' class -->
	<div
		name="quoteBg"
		class="absolute inset-0 bg-gray-50 rounded-lg shadow-md -rotate-1 group-hover:rotate-0 transition"></div> <!-- Added transition classes -->
	<div name="quoteIcon" class="absolute top-2 left-4 z-[1]">
		{% set svgSize = "size-20" %}
        {% set svgColor = "text-slate-200" %}
        {% include "quote.svg" %}
	</div>
	<div name="quoteContent" class="relative z-[2]">
		<p class="mb-1 pl-16 uppercase text-4xl sm:text-5xl">{{ item.review }}</p>
		<p class="font-normal pl-16 font-rancho text-4xl flex items-center">
			<span class="text-gray-300">—</span> {{ item.name }}&nbsp;
			{% if item.from %}
				<span class="text-gray-300">(</span>{{ item.from }}<span class="text-gray-300">)</span>
			{% endif %}
            {% if item.stars %}
                <span class="inline-flex items-center ml-4">
                    {% set svgSize = "size-10" %}
                    {% set svgColor = "text-amber-300" %}
                    {% for i in range(5) %}
                        {% include "star.svg" %}
                    {% endfor %}
                </span>
            {% endif %}
		</p>
	</div>
</div>
