<!-- PRESS REVIEWS -->
<div id="pressReviews" class="container mx-auto py-28">
  <h2 class="text-6xl font-bold mb-8 text-center py-4 px-6 bg-cover bg-center rounded-lg underline underline-offset-8 decoration-amber-300 decoration-4">
    Press Reviews
  </h2>
  {# <h3 class="text-5xl font-rancho -mt-3 mb-10 text-center py- px-6 bg-cover bg-center rounded-lg -rotate-2">
    for Auction Rooms
  </h3> #}
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 text-3xl mx-auto">
    {% for review in press %}
      {% if loop.index <= 5 %}
        <div class="relative">
          <div class="absolute inset-0 bg-amber-50 rounded-lg shadow-md -rotate-1"></div>
          <div class="relative px-6 pt-16 pb-12">
            {# <div class="flex items-center -space-x-2 mb-4">
              {% for i in range(1, review.stars + 1) %}
                <svg class="size-12 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                </svg>
              {% endfor %}
            </div> #}
            <div class="absolute top-2 left-4 z-[1]">
              {% set svgSize = "size-20" %}
              {% set svgColor = "text-amber-200" %}
              {% include "quote.svg" %}
            </div>
            <div class="relative z-[2]">
              <p class="mb-1 pl-16 uppercase text-5xl">{{ review.review }}</p>
              <p class="font-normal pl-16 font-rancho text-4xl">
                <span class="text-amber-300">—</span> {{ review.name }} {% if review.from %}<span class="text-amber-300">(</span>{{ review.from }}<span class="text-amber-300">)</span>{% endif %}
              </p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}

    <!-- Read More Press Reviews Block -->
    <div class="relative bg-amber-50 rounded-lg shadow-md">
      <div class="absolute inset-0 bg-white rounded-lg shadow-md -rotate-1"></div>
      <div class="relative flex items-center h-full px-6 py-12">
        <div class="absolute top-2 left-4 z-[1]">
          {% set svgSize = "size-20" %}
          {% set svgColor = "text-gray-200" %}
          {% include "quote.svg" %}
        </div>
        <a href="/press-reviews/" class="pl-16 text-5xl text-center hover:underline">
          Read more press reviews...
          <span class="inline-block">
            {% set svgSize = "size-12" %}
            {% set svgColor = "text-gray-300" %}
            {% include "r-arrow.svg" %}
          </span>
        </a>
      </div>
    </div>
  </div>

</div>

<!-- FAQs -->
<div id="faqs" class="container mx-auto py-28 w-3/5">
  <h2 class="text-6xl font-bold mb-8 text-center py-4 px-6 bg-cover bg-center rounded-lg underline underline-offset-8 decoration-amber-300 decoration-4">
    FAQs
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-6 text-3xl mx-auto">
    {% for faq in faqs %}
      <div class="relative">
        <div class="absolute inset-0 bg-white rounded-lg shadow-md -rotate-0"></div>
        <div class="relative px-6 py-12">
          {# <div class="flex items-center -space-x-2 mb-4">
            {% for i in range(1, review.stars + 1) %}
              <svg class="size-12 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
              </svg>
            {% endfor %}
          </div> #}
          {# <div class="absolute top-2 left-4 z-[1]">
            {% set svgSize = "size-20" %}
            {% set svgColor = "text-amber-200" %}
            {% include "quote.svg" %}
          </div> #}
          <div class="relative z-[2]">
            <!-- Review Text -->
            <p class="mb-1 pl-16 text-5xl">{{ faq.q }}</p>

            <!-- Reviewer Information and Stars -->
            <p class="font-xxlight tracking-ss pl-16 font-atki text-4xl">
               {# <span class="underline underline-offset-2 decoration-amber-300">{{ faq.a1 }}</span>  #}
               <span class="bg-amber-100 px-2 pb-1">{{ faq.a1 }}</span>
               {{ faq.a2 }}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
    <!-- Read More Press Reviews Block -->
    <div class="relative bg-amber-50 rounded-lg shadow-md">
      <div class="absolute inset-0 bg-white rounded-lg shadow-md -rotate-1"></div>
      <div class="relative flex items-center h-full px-6 py-12">
        {# <div class="absolute top-2 left-4 z-[1]">
          {% set svgSize = "size-20" %}
          {% set svgColor = "text-amber-200" %}
          {% include "quote.svg" %}
        </div> #}
        <a href="/press-reviews" class="pl-16 text-5xl text-center hover:underline">
          Read more faqs...
          <span class="inline-block">
            {% set svgSize = "size-12" %}
            {% set svgColor = "text-amber-300" %}
            {% include "r-arrow.svg" %}
          </span>
        </a>
      </div>
    </div>
  </div>
</div>


<a href="">Table bookings</a> are optional, the <a href=""> current menu</a> is viewable, <a href="">functions</a> and <a href="">gift cards</a> are available, and pets are always welcome.